<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Hello</servlet-name>
        <servlet-class>Servlets.Hello</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewAdmin</servlet-name>
        <servlet-class>Servlets.NewAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewStudent</servlet-name>
        <servlet-class>Servlets.NewStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewProfessor</servlet-name>
        <servlet-class>Servlets.NewProfessor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewStudent</servlet-name>
        <servlet-class>Servlets.ViewStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProfessor</servlet-name>
        <servlet-class>Servlets.ViewProfessor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudent</servlet-name>
        <servlet-class>Servlets.DeleteStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewEvent</servlet-name>
        <servlet-class>Servlets.NewEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewEvents</servlet-name>
        <servlet-class>Servlets.ViewEvents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewOnlinceCourse</servlet-name>
        <servlet-class>Servlets.NewOnlinceCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewInclassCourse</servlet-name>
        <servlet-class>Servlets.NewInclassCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCourses</servlet-name>
        <servlet-class>Servlets.ViewCourses</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Hello</servlet-name>
        <url-pattern>/Hello</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewAdmin</servlet-name>
        <url-pattern>/NewAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewStudent</servlet-name>
        <url-pattern>/NewStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewProfessor</servlet-name>
        <url-pattern>/NewProfessor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewStudent</servlet-name>
        <url-pattern>/ViewStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProfessor</servlet-name>
        <url-pattern>/ViewProfessor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudent</servlet-name>
        <url-pattern>/DeleteStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewEvent</servlet-name>
        <url-pattern>/NewEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewEvents</servlet-name>
        <url-pattern>/ViewEvents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewOnlinceCourse</servlet-name>
        <url-pattern>/NewOnlinceCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewInclassCourse</servlet-name>
        <url-pattern>/NewInclassCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCourses</servlet-name>
        <url-pattern>/ViewCourses</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <display-name>RESTful Services CRUD</display-name>
    <servlet>
        <servlet-name>RESTful Jersey CRUD Service</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>Webservices</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>RESTful Jersey CRUD Service</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
</web-app>
